.idea
/unit/paramData
/out
/unit/bleSite/data
/cmake-build-debug_cygwin
/cmake-build-debug_wsl
/cmake-build-minsizerel_android_armeabi-v7a
/cmake-build-minsizerel_arm64-v8a
/unit/mdm/data
/cmake-build-wsl_debug
/cmake-build-cygwin_debug

