.idea
/cmake-build-debug_cygwin
/cmake-build-debug_wsl
/cmake-build-minsizerel-visual-studio
/cmake-build-minsizerel-wsl
/test
/unit/paramData
/out
/unit/testSite/path.h
/linux/
/unit/bleSite/data
/cmake-build-debug
/cmake-build-cygwin_debug
/cmake-build-wsl_debug
